:root {
  --nav-background-color: #888;
  --nav-border-color: #222;
  --primary-bg: #444444;
  --primary-font: #dedede;
  --required-letter-color: orange;
  --color-red: #ffb871;
  --color-green: green;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-font);
  font-family: 'Helvetica', sans-serif;
}

